{% extends 'header.html' %}
{% block content %}
      <d  iv class="nav">
        <h2>– CLUBS –</h2>
        <table class="content-nav"></table>
      </d>
      <div class="content" style="margin-top: 170px">

        <div class="clubs">
          {% for i in club %}
          <div class="club">
            <a href="/clubs/{{i.id}}/">
              <img src="{{i.logo.url}}" alt="" />
              {{i.nom}}

            </a>
          </div>
          {% endfor %}
        </div>


        <p>
          It is a list of clubs with at least one ongoing employment contract
          with player whose predicted transfer value is at least 20 million
          euro.
        </p>
      </div>

        {% endblock %}
