{% extends 'header.html' %}
  {% block content %}
{% load mathfilters %}
      <div class="nav">
          <h2>– U-20 PLAYERS –</h2>
          <table class="content-nav">
            <thead>
              <tr>
                <td>#</td>
                <td>player</td>
                <td>age</td>
                <td>
                  club <br />
                  mill. euro
                </td>
                <td>
                  transfer value, <br />
                  mill. euro
                </td>
              </tr>
            </thead>
          </table>
        </div>
      <div class="content">

        <table class="players">
          {%for i in players %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.ism}}</td>
            <td>{{h_yil|sub:i.t_yil.year}}</td>
            <td>{{i.club}}</td>
            <td>{{i.tr_narxi}}</td>
          </tr>
          {% endfor %}
        </table>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta
          sequi quia eos cupiditate rerum accusantium odit enim, expedita,
          architecto error dignissimos voluptatibus. Nisi illo, maiores fugit
          amet neque eveniet!
        </p>
      </div>
  {% endblock %}
